certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cryptography==2.9.2
gplaycli==3.29
idna==2.9
lxml==4.5.0
matlink-gpapi==0.4.4.5
protobuf==3.18.3
pyaxmlparser==0.3.24
pycparser==2.20
requests==2.23.0
six==1.14.0
urllib3==1.25.9
